<!DOCTYPE html>
<html lang="en">
   
    <%- include('../partials/head.ejs') %> 

    <body>
    
    <%- include('../partials/header.ejs') %> 


    <main>


        <div class="portada">
            <img src="/img/covers/<%= productSent.image %>" alt="product image" class="portada-b">
        </div>

        <div class="container">
            <div class="DyC">
                <h2>Descripción</h2>
                <table class="standard-table">
                    <tbody>
                        <tr>
                            <th>Descripción</th>
                            <td><%= productSent.description %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="DyC">
                <h2>Características principales</h2>
                <table class="standard-table">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td><%= productSent.name %></td>
                        </tr>
                        <tr>
                            <th>Precio</th>
                            <td>$<%= productSent.price %></td>
                        </tr>
                        <tr>
                            <th>Consola</th>
                            <td><%= productSent.consola %></td>
                        </tr>
                        <tr>
                            <th>Formato</th>
                            <td><%= productSent.formato %></td>
                        </tr>
                        <tr>
                            <th>Cuotas</th>
                            <td>Hasta 12 cuotas sin interes</td>
                        </tr>
                    </tbody>
            
                </table>





                    <a href="/products/cart"><button class="carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </button></a>
                    <p><a href="/products/<%= productSent.id %>/edit" class="action-button edit">EDITAR</a></p>
					<p><form action="/products/<%= productSent.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
					</form></p>
                   
            </div>
        </div>
        
    
        





    </main>

    <%- include('../partials/footer.ejs') %> 
    
    
    
    </body>
    
    
    
    
    
    </html>
</body>
</html>