<!DOCTYPE html>
<html lang="en">
   
    <%- include('../partials/head.ejs') %> 

    <body>
    
    <%- include('../partials/header.ejs') %>

<main>
    <section name="Juegos destacados" class="section-destacados">
            
    <h2 class="juegos-destacados">Listado general de productos</h2>
    
     <div class="box-articulos">

        <% productsSent.forEach(producto => { %>

        <article>
            <a href="/products/<%= producto.id %>"><img src="/img/covers/<%= producto.image %>" alt="imagen del producto" class="responsive"></a>
            
            <div class= "div-detalles-articulo">
               
                <h3 class="precio">$<%= producto.price %></h3>
                <p><%= producto.name %></p>
                <h3 class="carrito"><i class="fas fa-cart-plus"></i></h3>
          
            </div>

        </article>
        <% }) %> 
    </div>

    </section>


</main>



<%- include('../partials/footer.ejs') %> 


    </body>



</html>