<!DOCTYPE html>
<html lang="en">
   
    <%- include('../partials/head.ejs') %> 

    <body>
    
    <%- include('../partials/header.ejs') %>

<main>
         
    <h2>Estas editando:</h2>
    
    <form action="/products/product-edit/<%= productSent.id %>?_method=PUT" method="POST">
        <p><label for="fname">Descripcion:</label><br>
        <input type="text" id="fname" name="fname" value="<%= productSent.description %>"><br></p>
        <p><label for="lname">Nombre:</label><br>
        <input type="text" id="lname" name="lname" value="<%= productSent.name %>"></p>
        <p><label for="fname">Precio:</label><br>
        <input type="text" id="fname" name="fname" value="<%= productSent.price %>"><br></p>
        <p><label for="lname">Cateogria:</label><br>
        <input type="text" id="lname" name="lname" value="<%= productSent.consola %>"><br></p>
        <p><label for="lname">Consola:</label><br>
        <input type="text" id="lname" name="lname" value="<%= productSent.consola %>"><br></p>
        <p><input type="submit" value="Enviar"></p>
    </form>

</main>



<%- include('../partials/footer.ejs') %> 



</body>





</html>
</body>
</html>