<!DOCTYPE html>
<html lang="en">
   
    <%- include('../partials/head.ejs') %> 

    <body>

    <%- include('../partials/header.ejs') %>

    <main class="fixed">
         
        <div class="containerreg">
        
            <h2 class="formulario">Cargar Nuevo Producto</h2>
        
        <form action="/products" method="POST" enctype="multipart/form-data">
    
            <p><label for="imagenProducto" class="datos">Imágen:</label><br></p>
            <input type="file" id="imagenProducto" name="imagenProducto">
            <p><label for="nombre" class="datos">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre"></p>

            <p><label for="consola" class="datos">Consola:</label><br>
                <div class="form-group">
                 <label for="formCategory"></label>
               <select name="category" class="form-control" id="formCategory">
                <% allProductCategories.forEach(categoria => { %>
                <option value="<%= categoria.ID %>">  <%= categoria.ID  %> - <%= categoria.category %>  </option>
                <% }) %> 
                </select>
                </div>

            <p><label for="precio" class="datos">Precio:</label><br>
                <input type="text" id="precio" name="precio"><br></p>
            <p><label for="categoria" class="datos">Categoría:</label><br>
            <div class="form-group">
                    <label for="formRubro"></label>
                    <select name="formRubro" class="form-control" id="formRubro">
                      <option>Accion</option>
                      <option>RPG</option>
                      <option>Plataformas</option>
                      <option>Rol</option>
                      <option>Deportes</option>∫
                      <option>Shooter</option>
                      <option>Infantiles</option>
                      <option>Terror</option>
                    </select>
            </div>
            <div class="form-group">
                <p><label for="descripcion" class="datos">Descripcion:</label></p>
                <textarea class="form-control" id="descripcionProducto" name="descripcionProducto" rows="3"></textarea>
            </div>
            <p><input type="submit" value="Enviar"></p>
        </form>
</main>

</body>
<%- include('../partials/footer.ejs') %> 
</html>