<!DOCTYPE html>
<html lang="en">
   
    <%- include('../partials/head.ejs') %> 

    <body>
    
    <%- include('../partials/header.ejs') %>

<main>
         
    <h2>Estas editando:</h2>
    
    <form action="/products/<%= productSent.id %>?_method=PUT" method="POST">
        <div class="form-group">
            <p><label for="exampleFormControlTextarea1">Descripcion:</label></p>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"><%= productSent.description %>"</textarea>
        </div>
        <p><label for="lname">Nombre:</label><br></p>
        <input type="text" id="lname" name="lname" value="<%= productSent.name %>">
        <p><label for="fname">Precio:</label><br></p>
        <input type="text" id="fname" name="fname" value="<%= productSent.price %>"><br>
        <p><label for="lname">Formato:</label><br></p>
        <input type="text" id="lname" name="lname" value="<%= productSent.formato %>"><br>
        <p><label for="lname">Consola:</label><br></p>
        <input type="text" id="lname" name="lname" value="<%= productSent.consola %>"><br>
        <p><input type="submit" value="Enviar"></p>
    </form>

</main>



<%- include('../partials/footer.ejs') %> 



</body>





</html>
</body>
</html>