<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body>
    
    <%- include('../partials/header.ejs') %> 



    <main class="fixed">

        <div class="containerreg">

            <h3 class="formulario">Formulario de registro</h3>

                <h4 class="datos">Datos de la cuenta</h4>
        
                <form class="form-registro" action="/users/register" method="POST" enctype="multipart/form-data">
        
                    <div class="div-input">
                        <input type="text"  placeholder="Nombre" name="firstName" id="firstName" 
                        class="form-control <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.firstName : null %>">
                        <% if (locals.errors && errors.firstName) { %>
                            <div class="text-danger">
                                <%= errors.firstName.msg %>
                            </div>
                        <% } %>
                    </div>

                    <div class="div-input">
                        <input type="text"  placeholder="Apellido" name="lastName" id="lastName" 
                        class="form-control is-invalid <%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.lastName : null %>">
                        <% if (locals.errors && errors.lastName) { %>
                            <div class="text-danger">
                                <%= errors.lastName.msg %>
                            </div>
                        <% } %>
                    </div>
            
                    <div class="div-input">
                        <input type="text" placeholder="e-mail" name="email" id="email" 
                        class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>
                    </div>

                    <h4 class="datos2">Contraseña</h4>
            
                    <div class=div-input>
                        <input type="password" name="password" id="password" placeholder="Contraseña" 
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.password : null %>">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>

                    <h4 class="datos2">Imagen de perfil</h4>
                        <div class=div-input>
                            <input type="file" name="avatar" id="avatar">
                            <% if (locals.errors && errors.avatar) { %>
                                <div class="text-danger">
                                    <%= errors.avatar.msg %>
                                </div>
                            <% } %>
                        </div>
            
                    <div class="div-botones">
                
                        <div class=div-input>
                        <label for="boton-enviar">                            
                            <button type="submit" class="regres">Registrarme</button>            
                        </label>
                    </div>
            
                    <div class=div-input>
                        <label for="boton-reset">
                            <button type="reset" class="regres">Restablecer</button>
                        </label>
                    </div>
            
            
                </form>
        </div>

        <div class="errors">
            <ul>
            </ul>
        </div>
        
    </main>

    <script src="/js/registerValidation.js"></script>

    
    <%- include('../partials/footer.ejs') %> 
</body> 

</html>